
.footer {
    background: #000000;
  
}

.footer h5 {
    color: rgb(255, 255, 255);
    padding-top: 12px;
    margin-bottom: 8px;
}

.footer h6 {
    color: rgb(255, 255, 255);
    padding-bottom: 15px;
    margin-top: 0;
}